# Compiled class file
*.com
*.class
*.dll
*.exe
*.o
*.dex

# Log file
*.log
*.sqlite
*.lock

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.war
*.nar
*.ear
*.zip
*.tar
*.tar.gz
*.rar
*.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

#IDE files #
*xcuserdata*
gen/
out/
bin/
releases/
.idea/
.gradle/
.metadata/
.settings/
*.xml
build/

.githooks
